a {
  color: #2b296a;
}

body {
  background-color: #e7ebf2;
}
.logo_ux {
  fill: #2b296a;
}

#logo:hover .logo_ux {
  fill: #3a34e7;
}

li {
  font-family: macho, monospace;
  color: #2b296a;
}

#links,
#second_section ul {
  padding: 4%;
  margin: 4%;
}

.boks1 {
  font-family: macho, monospace;
  color: #2b296a;
  background-color: #d7e2f5;
  padding: 4%;
  margin: 4%;
}

header {
  background-color: #e7ebf2;
}

header a {
  color: #2b296a;
}

header a:hover {
  color: #3a34e7;
}

/* burgermenu */

@media (max-width: 800px) {
  .toggle-btn {
    color: #2b296a;
  }
}

footer {
  background-color: #c9d3e3;
  color: #2b296a;
}

footer a {
  color: #2b296a;
}
#navn {
  color: #2b296a;
}

footer hr,
hr {
  border-color: #2b296a;
}

#first_section,
#second_section,
#third_section,
#fourth_section,
#fifth_section {
  padding: 4% 4%;
}

#col2_s1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#ux_b1 {
  grid-column: 1/5;
  grid-row: 1/5;
}
#ux_knap1 {
  grid-column: 4/6;
  grid-row: 4/6;
}
#ux_knap1_container {
  aspect-ratio: 210/125;
}

#ux_knap1_sprite {
  background-image: url(svg/web_knap.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* fourth_section mobil */
#fourth_section {
  display: grid;
  grid-template-columns: 0.25fr 2fr 2fr 0.25fr;
  grid-template-rows: repeat(4, auto);
}
#fourth_section h3 {
  grid-column: 1/4;
  grid-row: 1/2;
}

#fourth_section .hr_left {
  grid-column: 1/3;
  padding: 0%;
}
#fourth_section p {
  grid-column: 1/4;
  grid-row: 3/4;
}

#splash_2 {
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 7rem;
}
#hover {
  display: none;
}

.section_wrapper {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4%;
  align-items: center;
}

/* fifth_section mobil */
#col2_s5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#b25 {
  grid-column: 1/5;
  grid-row: 1/5;
}
#ux_knap2 {
  grid-column: 4/6;
  grid-row: 4/6;
}
#ux_knap2_container {
  aspect-ratio: 210/125;
}

#ux_knap2_sprite {
  background-image: url(svg/web_knap.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  #first_section,
  #second_section,
  #fourth_section {
    display: grid;
    grid-template-columns: 0.25fr 2fr 2fr 0.25fr;
    grid-template-rows: repeat(3, auto);
  }
  #first_section h2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #first_section #s1_indhold {
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #first_section #s1_indhold p {
    grid-column: 2/4;
  }

  #col2_s1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-top: 4%;
  }

  #ux_b1 {
    grid-column: 1/5;
    grid-row: 1/5;
  }

  #ux_knap1 {
    grid-column: 4/6;
    grid-row: 4/6;
  }
  #ux_knap1_container {
    aspect-ratio: 210/105;
  }

  #ux_knap1_sprite {
    background-image: url(svg/ux_knap1.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #second_section h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #s2_s1 {
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  #s2_s1_col1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #s2_s1_col2 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }

  #findings {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #d7e2f5;
    padding: 4%;
    margin: 12%;
  }

  #s2_s2 {
    grid-column: 2/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  #links {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #d7e2f5;
    padding: 4%;
    margin: 4%;
  }

  #s2_col1 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
  }
  #s2_s3 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  #s2_s4 {
    grid-column: 2/4;
    grid-row: 5/6;
  }

  #s2_s3,
  #s2_s4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #s2_s3 h4 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #s2_s3_tekst {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }

  #indsigter {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #d7e2f5;
    padding: 4%;
    margin: 4%;
  }

  #s2_s4 p {
    grid-column: 1/2;
  }
  #s2_s4_metode {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .tre_paa_stribe {
    grid-column: 2/4;
    grid-row: 6/7;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  #third_section {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  #third_section .hr_left {
    grid-column: 1/5;
    padding: 0%;
  }

  #third_section h3 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  #third_section p {
    grid-column: 1/5;
    grid-row: 2/4;
  }

  #col2_s3 {
    grid-column: 6/9;
    grid-row: 3/6;
  }

  #moodstile {
    grid-column: 2/5;
    grid-row: 4/6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2%;
  }

  #fourth_section h3 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  #fourth_section .hr_left {
    grid-column: 1/3;
    padding: 0%;
  }
  #fourth_section p {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  #splash_2 {
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: repeat(2, auto);
  }
  #hover {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2% 2%;
    place-self: center;
    display: unset;
  }

  .section_wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;
    align-items: center;
  }

  .hide {
    display: none;
  }

  #fifth_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  #fifth_section h3 {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  #fifth_section .hr_right {
    grid-column: 2/3;
  }

  #fifth_section p {
    grid-column: 2/2;
    grid-row: 3/4;
  }
  #col2_s5 {
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-top: 4%;
  }

  #b25 {
    grid-column: 1/5;
    grid-row: 1/5;
  }

  #ux_knap2 {
    grid-column: 4/6;
    grid-row: 4/6;
  }
  #ux_knap2_container {
    aspect-ratio: 210/105;
  }

  #ux_knap2_sprite {
    background-image: url(svg/ux_knap1.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #ux_knap1:hover,
  #ux_knap2:hover {
    animation: zoom_in_out_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}
